In [1]:
from lxml.etree import Element, SubElement, tostring, ElementTree
import pprint
from xml.dom.minidom import parseString
import pandas as pd
import numpy as np
import os

In [2]:
val_labels_filename   = 'data/gt.txt'
data = pd.read_csv(val_labels_filename, sep=";", header=0)

In [3]:
data.groupby(['image_name']).count().index

Index(['00000.ppm', '00001.ppm', '00002.ppm', '00003.ppm', '00004.ppm',
       '00005.ppm', '00006.ppm', '00007.ppm', '00008.ppm', '00009.ppm',
       ...
       '00888.ppm', '00889.ppm', '00891.ppm', '00893.ppm', '00894.ppm',
       '00895.ppm', '00896.ppm', '00897.ppm', '00898.ppm', '00899.ppm'],
      dtype='object', name='image_name', length=741)

In [4]:
data[data.image_name=='00025.ppm']

   image_name  xmin  xmax  ymin  ymax  class_id
36  00025.ppm   731   422   772   459        13
37  00025.ppm   734   463   767   497        40

In [5]:
data[data.image_name=='00025.ppm'].shape[0]

2

In [6]:
data[data.image_name=='00025.ppm'].xmin.iloc[0]

731

In [7]:
'00025.ppm'[0:-4]

'00025'

In [10]:
for i in data.groupby(['image_name']).count().index :
    convert_to_voc(data[data.image_name==i], i)

In [9]:
def convert_to_voc(data, img_name):

    filepath = 'data\\voc\\' + img_name[0:-4] + '.xml'
    
    node_root = Element('annotation')

    node_folder = SubElement(node_root, 'folder')
    node_folder.text = 'GTSDB'

    node_filename = SubElement(node_root, 'filename')
    node_filename.text = img_name

    node_size = SubElement(node_root, 'size')
    node_width = SubElement(node_size, 'width')
    node_width.text = '1360'

    node_height = SubElement(node_size, 'height')
    node_height.text = '800'

    node_depth = SubElement(node_size, 'depth')
    node_depth.text = '3'

    for i in range(data.shape[0]):
        node_object = SubElement(node_root, 'object')
        node_name = SubElement(node_object, 'name')
        node_name.text = str(data.class_id.iloc[i])
        node_difficult = SubElement(node_object, 'difficult')
        node_difficult.text = '0'
        node_bndbox = SubElement(node_object, 'bndbox')
        node_xmin = SubElement(node_bndbox, 'xmin')
        node_xmin.text = str(data.xmin.iloc[i])
        node_ymin = SubElement(node_bndbox, 'ymin')
        node_ymin.text = str(data.ymin.iloc[i])
        node_xmax = SubElement(node_bndbox, 'xmax')
        node_xmax.text = str(data.xmax.iloc[i])
        node_ymax = SubElement(node_bndbox, 'ymax')
        node_ymax.text = str(data.ymax.iloc[i])

    tree = ElementTree(node_root)
    tree.write(filepath, pretty_print=True, xml_declaration=False, encoding='utf-8')

    # xml = tostring(node_root, pretty_print=True)  #格式化显示，该换行的换行
    # dom = parseString(xml)
    # print(xml)

In [ ]:
'data\\voc\\' + '666'

In [57]:
val_labels_filename   = 'data/train.txt'
data = pd.read_csv(val_labels_filename, sep=";", header=0)

In [58]:
data2 = pd.DataFrame({'name':data.image_name})
type(data2)

pandas.core.frame.DataFrame

In [59]:
data2

           name
0     00616.ppm
1     00616.ppm
2     00288.ppm
3     00288.ppm
4     00072.ppm
5     00307.ppm
6     00307.ppm
7     00307.ppm
8     00307.ppm
9     00189.ppm
10    00060.ppm
11    00060.ppm
12    00275.ppm
13    00275.ppm
14    00778.ppm
15    00831.ppm
16    00606.ppm
17    00051.ppm
18    00211.ppm
19    00176.ppm
20    00805.ppm
21    00349.ppm
22    00349.ppm
23    00197.ppm
24    00706.ppm
25    00604.ppm
26    00770.ppm
27    00770.ppm
28    00770.ppm
29    00450.ppm
...         ...
1056  00615.ppm
1057  00747.ppm
1058  00747.ppm
1059  00046.ppm
1060  00649.ppm
1061  00886.ppm
1062  00886.ppm
1063  00141.ppm
1064  00688.ppm
1065  00688.ppm
1066  00428.ppm
1067  00428.ppm
1068  00697.ppm
1069  00794.ppm
1070  00316.ppm
1071  00316.ppm
1072  00316.ppm
1073  00316.ppm
1074  00292.ppm
1075  00292.ppm
1076  00620.ppm
1077  00170.ppm
1078  00780.ppm
1079  00780.ppm
1080  00780.ppm
1081  00780.ppm
1082  00471.ppm
1083  00315.ppm
1084  00315.ppm
1085  00086.ppm

[1086 rows x 1 columns]

In [60]:
for i in range(data2.shape[0]):
    data2.iloc[i][0] = data2.iloc[i][0][0:-4]

In [61]:
data2.iloc[1][0]

'00616'

In [62]:
data2

       name
0     00616
1     00616
2     00288
3     00288
4     00072
5     00307
6     00307
7     00307
8     00307
9     00189
10    00060
11    00060
12    00275
13    00275
14    00778
15    00831
16    00606
17    00051
18    00211
19    00176
20    00805
21    00349
22    00349
23    00197
24    00706
25    00604
26    00770
27    00770
28    00770
29    00450
...     ...
1056  00615
1057  00747
1058  00747
1059  00046
1060  00649
1061  00886
1062  00886
1063  00141
1064  00688
1065  00688
1066  00428
1067  00428
1068  00697
1069  00794
1070  00316
1071  00316
1072  00316
1073  00316
1074  00292
1075  00292
1076  00620
1077  00170
1078  00780
1079  00780
1080  00780
1081  00780
1082  00471
1083  00315
1084  00315
1085  00086

[1086 rows x 1 columns]

In [63]:
data2.to_csv('data/main2.txt', sep=' ', index=False)